<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Soloco.EventStore.Core\packages.config" />
  <repository path="..\src\Soloco.EventStore.ECommerce.Server\packages.config" />
  <repository path="..\src\Soloco.EventStore.ECommerce\packages.config" />
  <repository path="..\src\Soloco.EventStore.GamblingGameProjections\packages.config" />
  <repository path="..\src\Soloco.EventStore.IrresponsibleGamblingNotifier\packages.config" />
  <repository path="..\src\Soloco.EventStore.MeasurementProjections\packages.config" />
  <repository path="..\src\Soloco.EventStore.MeasurementReadAveragePerDayCalculator\packages.config" />
  <repository path="..\src\Soloco.EventStore.MeasurementReadByDeviceTypePartitioner\packages.config" />
  <repository path="..\src\Soloco.EventStore.MeasurementReadCounter\packages.config" />
</repositories>