<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Soloco.EventStore.Example.MeasurementProjections\packages.config" />
  <repository path="..\src\Soloco.EventStore.MeasurementProjections\packages.config" />
  <repository path="..\src\Soloco.EventStore.MeasurementReadByDeviceTypePartitioner\packages.config" />
  <repository path="..\src\Soloco.EventStore.MeasurementReadCounter\packages.config" />
</repositories>